#######################################
# Build results
#######################################

[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

#######################################
# Visual Studio
#######################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

#######################################
# Rider / VS Code (por si acaso)
#######################################

.idea/
.vscode/

#######################################
# OS Files
#######################################

.DS_Store
Thumbs.db

#######################################
# EF Core
#######################################

# Migrations snapshot backups (if any)
*.dbmdl

#######################################
# SQL Server LocalDB files
#######################################

*.mdf
*.ldf

#######################################
# Secrets
#######################################

*.env
.env
.env.*
appsettings.json
appsettings.*.json
!appsettings.example.json
!appsettings.*.example.json
appsettings.Development.json
appsettings.Local.json
secrets.json

#######################################
# Publish output
#######################################

publish/
wwwroot/dist/
wwwroot/lib/

#######################################
# NuGet
#######################################

*.nupkg
packages/
